#wrapper{
	width: 1200px;
	height: auto;
}

#banner{
	width: 1210px;
	height: 100px;
    background-color: tan;
    border: 1px solid black;
}

#homemenu{
	width: 1210px;
	height: 30px;
	background-color: gray;
	border: 1px solid black;
	margin: 1px 0 0 0;
}

#leftpart{
      width:300px;
      height: 700px;
      background-color: teal;
      float: left;
      border: 1px solid black;
      margin: 1px 0 0 0; 
   }

  #loginbox {
	width:290px;
	height:300px;
	margin:5px;
	}

 #rightpart{
       width: 900px;
       height: 700px;
       background-color: darkseagreen;
       float: right;
       border: 1px solid black;
       margin: 1px -10px 5px 5px; 
 }

 #enter{
 	 width: auto;
 	 height: 30px;
 	 margin: 0 10px;
 }